/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root Layout */

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

/* Body */

body {
  min-width: 320px;
  /*overflow-x: hidden;*/

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #ffffff;
}

/* Links */

a {
  text-decoration: none;
  color: inherit;
}

/* Buttons */

button {
  font: inherit;
}

/* Images */

img {
  max-width: 100%;
  display: block;
}
